.header__lang-cell {
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   color: #FFFFFF;
}
.header__lang-cell:first-of-type {
   text-decoration: underline;
}